<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Userpage | Easy Bitez</title>
    <link rel="stylesheet" href="/css/linearicons.css" async>
    <link rel="stylesheet" href="/css/user_defined.css" async>
    <link rel="stylesheet" href="/css/font-awesome.min.css" async>
    <link rel="stylesheet" href="/css/themify-icons.css" async>
    <link rel="stylesheet" href="/css/bootstrap.css" async>
    <link rel="stylesheet" href="/css/owl.carousel.css" async>
    <link rel="stylesheet" href="/css/nice-select.css" async>
    <link rel="stylesheet" href="/css/maicons.css" async>
    <link rel="stylesheet" href="/css/mobster.css" async>
    <link rel="stylesheet" href="/css/main.css" async>
    <link rel="stylesheet" href="/css/linearicons.css" async>
    <link rel="stylesheet" href="/css/userpage.css" async>
    <link rel="stylesheet" href="/css/lolreg.css" async>
    <style>
        .banner-area.organic-breadcrumb:before{
            background:rgba(0,0,0,0);
        }
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-193599035-1">
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-193599035-1');
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-27FWTMFWWF"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-27FWTMFWWF');
    </script>

    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window, document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '4342464632509246');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=4342464632509246&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->

</head>
<body>

<div th:replace="fragments :: loadingScreen"></div>
<div th:replace="fragments :: header_main_user"></div>

<div id="modal-M" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span id="close-M" class="close-mm">&times;</span>
        <form class="row login_form" id="updateForm" action="javascript:void(0)"
              style="left:50%;position:relative;transform:translateX(-50%); width:50%;">
            <div style="width:100%;">
                <input type="hidden" name="ID" th:value="${user.getID()}"/>
                <div class="question">
                    <input type="number" id="judet" name="judet" min="1" max="6" required/>
                    <label>Sector</label>
                </div>
                <div class="question">
                    <input type="text" id="strada" name="strada" required/>
                    <label>Stradă</label>
                </div>
                <div class="question">
                    <input type="number" id="nr" name="nr" required/>
                    <label>Număr</label>
                </div>
                <div class="question">
                    <input type="text" id="detalii" name="adresa" required/>
                    <label>Restul adresei</label>
                </div>
            </div>
            <div class="col-md-12 form-group">
                <button type="submit" value="submit" name="completeAcc"
                        class="primary-btn top-border-30 bottom-border-30">Salvează detaliile
                </button>
            </div>
        </form>
    </div>

</div>

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb"
         style="background: url('/img/banner/Wave-10s-1440px.svg') center no-repeat; background-size: cover; height: fit-content;">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center">
            <div class="col-first" id="color-phone">
                <h1 style="color:white !important;">Pagina de utilizator</h1>
                <nav class="d-flex align-items-center">
                    <a href="/" style="color:white !important;">Home<span class="lnr lnr-arrow-right" style="color:white !important;"></span></a>
                    <a href="/userpage" style="color:white !important;">Pagina de utilizator</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->


<section class="blog_area section_gap" style="padding-bottom: 40px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog_left_sidebar">
                    <!-- comenzi pe site -->
                    <h2>Comenzi active</h2>
                    <hr>
                    <article class="row blog_item" th:if="${orders} != null" th:each="order : ${orders}">
                        <div class="col-md-3">
                            <div class="blog_info text-right">
                                <ul class="blog_meta list">
                                    <li><a href="javascript:void(0)"><span th:text="${order.getPrice()}"></span> lei<i class="lnr lnr-users"></i></a></li>
                                    <li><a href="javascript:void(0)"><span th:text="${order.getDateString()}"></span><i class="lnr lnr-calendar-full"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-9 article-style">
                            <div class="blog_post">
                                <div class="blog_details">
                                    <h3>Rețete comandate:</h3>
                                    <hr>
                                    <a href="#" th:each="nameFood : ${order.getFoodTitle()}" >
                                        <h4 style="font-weight: 500;color: #555555" th:text="${nameFood}"></h4>
                                    </a>
                                    <p th:if="${order.getCodeUsed() != null}" th:text="'Cod de reducere folosit: ' + ${order.getCodeUsed()}"></p>
<!--                                    <a href="#" class="primary-btn" style="line-height:25px">Mai mult</a>-->
                                </div>
                            </div>
                        </div>
                    </article>
                    <div style="text-align:center;font-size: 15px;padding:20px 0" th:if="${orders} == null"><i>Nu ai nicio comanda. Comenzie vor fi afisate in curand.</i></div>
<!--                    <h2>Comenzi expediate</h2>-->
<!--                    <hr>-->
<!--                    <div style="text-align:center;font-size: 15px;padding:20px 0px"><i>Nu ai nicio comanda. Comenzie vor-->
<!--                        fi afisate in curand. -Under development-</i></div>-->
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar article-style">
                    <aside class="single-sidebar-widget newsletter_widget">
                        <h4 class="widget_title" style="border-radius:30px">Datele contului tău</h4>
                        <aside class="single_sidebar_widget author_widget">
                            <img class="author_img rounded-circle" style="width:150px;" src="/img/user.png" alt="">
                            <h4 th:text="${user.getUsername()}" style="margin-top:0px;"></h4>
                            <p>
                                <span th:text="${user.getEmail()}"></span>
                                <br>
                                <span th:text="${user.getTelefon()}"></span>
                            </p>
                            <div class="br"></div>
                            <p id="adresaMea"
                               th:if="${user.getSector()} != '' and ${user.getStrada()} != '' and ${user.getNr()} != ''"
                               th:text="'Bucuresti, Sectorul ' + ${user.getSector()} + ', Strada ' + ${user.getStrada()} + ', Nr. ' + ${user.getNr()} + ', ' + ${user.getAdresa()}"></p>
                            <p th:if="${user.getSector()} == '' or ${user.getStrada()} == '' or ${user.getNr()} == ''">Nu ai setata adresa!</p>
                            <div class="br"></div>
                            <span id="edit-profile" class="lnr lnr-pencil"></span>
                        </aside>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>


<script type="text/javascript" th:src="@{/js/vendor/jquery-2.2.4.min.js}"></script>
<script type="text/javascript" th:src="@{/js/vendor/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.nice-select.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.sticky.js}"></script>
<script type="text/javascript" th:src="@{/js/set_header.js}"></script>
<script type="text/javascript" src="/js/deleteStorage.js"></script>
<script>
    $(document).ready(function () {

        $(".logout-btn").on('click', function () {
            $(".logout-form").submit();
        });

        var modalM = document.querySelector("#modal-M");

        document.querySelector("#edit-profile").onclick = function () {
            document.querySelector("#modal-M").style.display = "block";
        }

        document.querySelector("#close-M").onclick = function () {
            modalM.style.display = "none";
        }

        window.onclick = function (event) {
            if (event.target === modalM) {
                modalM.style.display = "none";
            }
        }

        $("#updateForm").submit(function (event) {
            var formData = $(this).serialize();
            $(".primary-btn.top-border-30.bottom-border-30").attr("disabled", true);
            $.ajax({
                type: "POST",
                url: "/userpage/update_details",
                data: formData
            }).done(function (data) {
                alert(data);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                if (jqXHR.status === 409) {
                    alert(textStatus);
                }
                $(".primary-btn.top-border-30.bottom-border-30").attr("disabled", false);
            });
            event.preventDefault();
        });
    });
</script>
</body>
</html>
