<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="CodePixar">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Despre Noi | Easy Bitez</title>


    <!-- CSS ============================================= -->
    <link rel="stylesheet" type="text/css" href="/css/linearicons.css" async>
    <link rel="stylesheet" type="text/css" href="/css/user_defined.css" async>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css" async>
    <link rel="stylesheet" type="text/css" href="/css/themify-icons.css" async>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" async>
    <link rel="stylesheet" type="text/css" href="/css/owl.carousel.css" async>
    <link rel="stylesheet" type="text/css" href="/css/nice-select.css" async>
    <link rel="stylesheet" type="text/css" href="/css/maicons.css" async>
    <link rel="stylesheet" type="text/css" href="/css/mobster.css" async>
    <link rel="stylesheet" type="text/css" href="/css/main.css" async>

    <style>
        @media (max-width: 767px) {
            .home-about-right {
                margin-top: 30px;
            }
        }

        .home-about-right h6 {
            margin-bottom: 30px;
            text-transform: uppercase;
            font-weight: 400;
        }

        .home-about-right h1 {
            margin-bottom: 40px;
        }

        @media (max-width: 991px) {
            .home-about-right h1 {
                font-size: 20px;
            }
        }

        .home-about-right p {
            margin-bottom: 30px;
            max-width: 445px;
        }

        .home-about-right .primary-btn:hover {
            box-shadow: 0px 20px 20px 0px rgba(132, 144, 255, 0.3);
        }
    </style>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-27FWTMFWWF"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-27FWTMFWWF');
    </script>

    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window, document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '4342464632509246');
        fbq('track', 'PageView', 'Initiate checkout', 'Add to cart', 'Purchase');
    </script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=4342464632509246&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->

</head>
<body>

<!--comment-->
<div th:replace="fragments :: loadingScreen"></div>
<div th:replace="fragments :: header_main"></div>

<section class="banner-area organic-breadcrumb"
         th:style="'background: url(' + @{/img/banner/abut-us.jpg} + ') center no-repeat; background-size: cover; height: fit-content;'">
    <!--    <div class="layer"></div>-->
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center">
            <div class="col-first">
                <h1>Despre noi</h1>
                <nav class="d-flex align-items-center">
                    <a href="/">Acasă<span class="lnr lnr-arrow-right"></span></a>
                    <a href="/about-us">Despre noi</a>
                </nav>
                <div class="add-bag d-flex align-items-center">
                    <a class="primary-btn buy-index"
                       href="/shop"
                       style="background:white; line-height: 60px; color:#ff6c00;">
                        Cumpără
                        <span class="lnr lnr-arrow-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Banner A-->

<section class="home-about-area pt-120 section_gap">
    <div class="container" style="padding:0px 25px;">
        <div class="row align-items-center justify-content-between" style="text-align:center;margin:0;width:100%;">
            <!--<h6>Subtitlu mic</h6>-->
            <h1 class="text-uppercase" style="text-align: center;width:100%">De ce să alegi EasyBitez?</h1>
            <p style="color:#282828;font-size: 16px;margin-top:20px;">
                Cauți o rețetă pentru o experiență culinară de neuitat? <br>
                De acum este foarte simplu: Tu îți comanzi online dish-ul preferat, iar noi îți livrăm acasă toate
                ingredientele, atent cântărite și selecționate, alături de rețeta explicată în maxim 5 pași.
                <br><br>
                Easybitez.ro este un concept care transformă gătitul într-o experiență plăcută. Selectăm doar
                produse de calitate și le împachetăm atent, nu înainte de a pregăti rețetarul și etichetele pentru
                numerotarea produselor, în ordinea folosirii lor.
                <br><br>
                Primești acasă, de două ori pe săptămână, cutiile cu produse proaspete, ambalate individual. Dacă nu
                știi ce să gătești, nu ai cu ce și nici nu crezi că te descurci, Easybitez.ro este cea mai bună
                soluție.
                Facem cumpărăturile pentru tine, ți le livrăm acasă și, în plus, îți punem la dispoziție cele mai
                gustoase rețete, pe care să le prepari rapid și ușor.
            </p>
        </div>
    </div>
</section>

<div th:replace="fragments :: footer"></div>

<script src="/js/vendor/jquery-2.2.4.min.js"></script>
<script src="/js/vendor/bootstrap.min.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/jquery.sticky.js"></script>
<script src="/js/set_header.js"></script>
<script type="text/javascript" src="/js/deleteStorage.js"></script>
</body>
</html>