<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="/img/banner/logos/logo_sus.png">
    <!-- Author Meta -->
    <meta name="author" content="EasyBites">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Retete | Easy Bitez</title>

    <!-- CSS ============================================= -->

    <link rel="stylesheet" type="text/css" href="/css/linearicons.css" async>
    <link rel="stylesheet" type="text/css" href="/css/user_defined.css" async>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css" async>
    <link rel="stylesheet" type="text/css" href="/css/themify-icons.css" async>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" async>
    <link rel="stylesheet" type="text/css" href="/css/owl.carousel.css" async>
    <link rel="stylesheet" type="text/css" href="/css/nice-select.css" async>
    <link rel="stylesheet" type="text/css" href="/css/maicons.css" async>
    <link rel="stylesheet" type="text/css" href="/css/mobster.css" async>
    <link rel="stylesheet" type="text/css" href="/css/main.css" async>
    <link rel="stylesheet" type="text/css" href="/css/loading.css" async>

    <link rel="stylesheet" href="/css/retete.css">
    <link rel="stylesheet" href="/css/card.css">
    <style>
        html {
            scroll-behavior: smooth;
        }

        .i {
            width: 100%;
            height: 380px;
        }

        .currSubCat {
            color: rgb(255, 186, 0);
        }

        .displaynone {
            display: none;
        }

    </style>


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-27FWTMFWWF"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-27FWTMFWWF');
    </script>

    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window, document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '4342464632509246');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=4342464632509246&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->
</head>
<body>
<div th:replace="fragments :: loadingScreen(c = ${current})"></div>
<div th:replace="fragments :: header_main"></div>

<div class="overlay">
    <div class="close-ov" onclick="closeReteta()"
         style="box-sizing: inherit; text-align:center;margin-top:10px;background:#ffba00; line-height:9px;font-size:23px;color:white;">
        ×
    </div>
    <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="content-reteta">
        <div class="content-overlay">

        </div>
    </div>
</div>

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb"
         th:style="'background: url(' + @{/img/banner/Wave-10s-1440px.svg} + ') left no-repeat; background-size: cover; height: fit-content;'">
    <!--    <div class="layer"></div>-->
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center">
            <div class="col-first">
                <h1>Rețete delicioase pe care neapărat <br> trebuie să le încerci!</h1>
                <nav class="d-flex align-items-center">
                    <a href="/">Acasă<span class="lnr lnr-arrow-right"></span></a>
                    <a href="/retete">Rețete</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<!-- Start Retete Area -->

<div class="wraper">
    <div class="wraped-content-u" style="width: 95%;">
        <div class="make-2-grid">
            <div class="container-l">
                <div id="scrollD">
                    <!--position:sticky;top:100px;-->
                    <h3 id="date-range-1">
                        Filtre
                    </h3>
                    <div class="border-top my-3"></div>
                    <div class="container-u" id="filt"
                         style="background:white; overflow-x:hidden; overflow-y: auto; margin-top:10px; height:fit-content;">
                        <p class="controller-filt currentFilt" onclick="mancare()">Feluri principale</p>
                        <p class="controller-sub-filt m" th:classappend="${current == 'pui/'} ? currSubCat : ''"
                           onclick="location.href='/retete/pui'">
                            <span class='fa' style="margin-right:5px;"></span>
                            <img src='/img/icons/pui.png' style="width:48px;height:48px"> Pui</p>
                        <p class="controller-sub-filt m" th:classappend="${current == 'vita/'} ? currSubCat : ''"
                           onclick="location.href='/retete/vita'"><span class='fa'
                                                                        style="margin-right:5px;"></span>
                            <img src='/img/icons/vita.png' style="width:48px;height:48px">
                            Vită</p>
                        <p class="controller-sub-filt m" th:classappend="${current == 'porc/'} ? currSubCat : ''"
                           onclick="location.href='/retete/porc'"><span class='fa'
                                                                        style="margin-right:5px;"></span>
                            <img src='/img/icons/porc.png' style="width:48px;height:48px">
                            Porc
                        </p>
                        <p class="controller-sub-filt m" th:classappend="${current == 'paste/'} ? currSubCat : ''"
                           onclick="location.href = '/retete/paste'">
                            <span class='fa' style="margin-right:5px;"></span>
                            <img src='/img/icons/paste.png' style="width:48px;height:48px">
                            Paste
                        </p>
                        <p class="controller-sub-filt m" th:classappend="${current == 'vegetariene/'} ? currSubCat : ''"
                           onclick="location.href = '/retete/vegetariene'">
                            <span class='fa' style="margin-right:5px;"></span>
                            <img src='/img/icons/vegetariene.png' style="width:48px;height:48px">
                            Vegetariene
                        </p>
                    </div>
                    <div class="border-top my-3"></div>
                    <div class="container-u" id="filt" style="background:white; overflow-x:hidden; overflow-y: auto; margin-top:10px; height:fit-content;">
                        <p style="padding:5px;text-align:center;cursor:auto;font-size:15px;">Toate rețetele pot fi comandate și livrate la tine acasă</p>
                        <div onclick="location.href='/shop'" class="primary-btn" style="display:flex;width:fit-content;">Cumpără</div>
                    </div>
                </div>
            </div>
            <div class="container-l" style="width: calc(100% - 30px);">
                <div class="title-grid-filter">
                    <h3>
                        <lord-icon
                                src="https://cdn.lordicon.com//wxnxiano.json"
                                trigger="loop"
                                delay="1000"
                                colors="primary:#121331,secondary:#ffba00"
                                style="width:38px;height:38px">
                        </lord-icon>
                        Rețete
                    </h3>
                    <h3>
                        <!--<span style="padding-right:5px;" class="lnr lnr-tag"></span>-->
                    </h3>
                </div>
                <div class="border-top my-3" style="margin-top:7px !important;"></div>
                <div class="container-u" style="background:transparent">
                    <div class="food-pannel" style="overflow-x:hidden; overflow-y: auto;">
                        <div class="store-food-grid" id="mancare">
                            <div th:each="recipe : ${recipes}" th:if="${recipes} != null" class='card'
                                 th:id='${recipe.ID}'>
                                <div class='header'
                                     th:style="'background: url(' + ${recipe.pics[0]} + ') no-repeat center; background-size: cover;'">
                                </div>
                                <div class='text' style='height: calc(100% - 200px)'>
                                    <div style='display:grid;grid-template-rows:auto 52px;height:100%;'>
                                        <div>
                                            <h1 class='food' th:text="${recipe.name}"></h1>
                                            <div id="descriere-reteta" style='padding:10px 30px;font-size:15px;'
                                                 th:text="${recipe.descriere}"></div>
                                        </div>
                                        <div class='al-c'
                                             style='left:50%;position:relative;transform:translateX(-50%);width: fit-content;vertical-align: text-bottom;'>
                                            <i class='fa' th:if="${recipe.durata} != ''">
                                                <img src='/img/icons/clock.png' style='width:32px;height:32px;' alt=''/>
                                                <span th:text="${recipe.durata}"></span>
                                            </i>
                                            <i class='fa'>
                                                <img th:src="'/img/icons/' + ${recipe.categorie} + '-white.png'"
                                                     style='width:32px;height:32px;' alt=""/>
                                                <span class='type'></span>
                                            </i>
                                        </div>
                                    </div>
                                    <!--<div class='ratings fs-vlarge' style='margin:auto;width:120px;padding:10px 0px;'>{$stars}</div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Retete Area -->


<!-- start footer Area -->
<div th:replace="fragments :: footer"></div>
<!-- End footer Area -->

<script type="text/javascript" src="/js/vendor/jquery-2.2.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/vendor/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/jquery.nice-select.min.js"></script>
<script type="text/javascript" src="/js/jquery.sticky.js"></script>
<script type="text/javascript" src="/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="/js/set_header.js"></script>
<script type="text/javascript" src="/js/retete.js"></script>
<script type="text/javascript" src="/js/deleteStorage.js"></script>
</body>
</html>
