<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="CodePixar">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Easy Bitez | Shop | Page 3</title>

    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>

    <!-- CSS ============================================= -->
    <link rel="stylesheet" type="text/css" href="/css/linearicons.css" async>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" async>
    <link rel="stylesheet" type="text/css" href="/css/owl.carousel.css" async>
    <link rel="stylesheet" type="text/css" href="/css/main.css" async>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css" async>
    <link rel="stylesheet" type="text/css" href="/css/card.css" async>
    <link rel="stylesheet" type="text/css" href="/css/shop_v3.css" async>
    <link rel="stylesheet" type="text/css" href="/css/loading.css" async>
    <link rel="stylesheet" type="text/css" href="/css/shop_log.css" async>
    <style>
        body {
            overflow-x: hidden;
            overflow-y: auto;
        }

        .wraper .title-chapter {
            color: white !important;
        }

        .header-shop {
            transition: 0.3s;
        }

        #body1, #body2, #filters_and_shit_1, #filters_and_shit_2 {
            transition: 0.3s;
        }

        [contenteditable] {
            -webkit-user-select: text;
            user-select: text;
        }

        .controller-sub-filt {
            display: none;
        }

        .i {
            height: 380px;
            width: 100%;
        }

        .x.lnr-cross:before {
            color:white !important;
            font-size:17px;
        }

        @media screen and (max-width: 509px){
            .blocked {
                height: 37%;
            }
        }
    </style>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-27FWTMFWWF"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-27FWTMFWWF');
    </script>

    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window, document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '4342464632509246');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=4342464632509246&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->

</head>
<body>

<div th:replace="fragments :: loadingScreen(c = 'notnull')"></div>
<div th:replace="fragments :: header_shop(s = ${step})"></div>
<section class="menu-wrapper">
    <div class="title-menu">
        <span style="padding-right:5px;" class="lnr lnr-cart"></span> Coșul tău
        <span class="lnr lnr-cross close-menu" onclick="openMenu()"></span>
    </div>
    <div class="menu" style="margin-bottom:30px;"><!--position:sticky;top:120px;-->
        <h3 class="title-chapter" id="date-range-1">
            <span id="day1">(Marți - Sâmbătă)</span>
        </h3>
        <div class="border-top my-3"></div>
        <div class="container-u" id="prima"
             style="overflow-x:hidden; overflow-y: auto; margin-top:10px; height:fit-content;">
            <h4 style="text-align:left"> Feluri principale </h4>
            <div class="food-grid" style="margin-top:10px;">
                <div class='food-1' th:each="recipeLink : ${recipesLinks}"
                     th:style="'background: url(\'' + ${recipeLink} + '\');background-size:cover;'">
                    <span class='add-left-top nr' th:text="'x' + ${nrPers}"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="menu" style=""><!--position:sticky;top:120px;-->
        <h3 class="title-chapter">
            <span id="day2">(Marti - Sambata)</span>
        </h3>
        <div class="border-top my-3"></div>
        <div class="container-u" id="doua"
             style="overflow-x:hidden; overflow-y: auto; margin-top:10px; height:fit-content;">
            <h4 style="text-align:left"> Feluri principale </h4>
            <div class="food-grid" style="margin-top:10px;">
                <div class='food-2' th:each="i: ${#numbers.sequence(1, recipesAllowed)}">
                    <span class='add-left-top nr' th:text="'x' + ${nrPers}"></span>
                    <span class='lnr lnr-cross x'></span>
                </div>
            </div>
        </div>
        <div class="blocked addition" style="top:50px;">
            <h4>Completat la pasul anterior</h4>
            <img src="/img/icons/lock.png" style="width:100px;"/>
        </div>
    </div>
</section>
<div class="slides curr" style="height: 100%;">
    <div class="wraper" id="body1" style="">
        <div class="wraped-content-u" style="width: 95%;">
            <div class="make-2-grid"
                 style="max-width:1200px;display:block;left:50%;position:relative;transform:translateX(-50%)">
                <h1 class="title-chapter" id="date-range-1" style="text-align:center;">
                    <lord-icon
                            src="https://cdn.lordicon.com//uetqnvvg.json"
                            trigger="loop"
                            colors="primary:#ffffff,secondary:#ffffff"
                            style="width:100px;height:100px">
                    </lord-icon>
                    <br>
                    <span>
                        Alege rețetele pentru <b style="color:white">A DOUA LIVRARE</b>
                    </span>
                </h1>
                <div class="container-l" style="width: calc(100% - 30px);margin-top:50px;">
                    <div class="title-grid-filter">
                        <h3 class="title-chapter">
                            <span style="padding-right:5px;" class="lnr lnr-book"></span>
                            Rețetele disponibile
                        </h3>
                        <h3>
                        </h3>
                    </div>
                    <div class="border-top my-3" style="margin-top:7px !important;"></div>
                    <div class="filters-horizontal">
                        <div>
                            <div>
                                <div type="pui" class="label-filter">
                                    <img src='/img/icons/pui.png' style="width:48px;height:48px" alt="">
                                    <span>Pui</span>
                                </div>
                            </div>
                            <div>
                                <div type="vita" class="label-filter">
                                    <img src='/img/icons/vita.png' style="width:48px;height:48px" alt="">
                                    <span>Vită</span>
                                </div>
                            </div>
                            <div>
                                <div type="porc" class="label-filter">
                                    <img src='/img/icons/porc.png' style="width:48px;height:48px" alt="">
                                    <span>Porc</span>
                                </div>
                            </div>
                            <div>
                                <div type="paste" class="label-filter">
                                    <img src='/img/icons/paste.png' style="width:48px;height:48px" alt="">
                                    <span>Paste</span>
                                </div>
                            </div>
                            <div>
                                <div type="vegetariene" class="label-filter">
                                    <img src='/img/icons/vegetariene.png' style="width:48px;height:48px" alt="">
                                    <span>Vegetariene</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container-u" style="background:transparent">
                        <div class="food-pannel" style="overflow-x:hidden; overflow-y: auto;">
                            <div class="store-food-grid" id="first">
                                <div th:each="recipe : ${recipes}" th:if="${recipes} != null" class='card'
                                     th:id='${recipe.ID}' th:attr="foodtype=${recipe.categorie}">
                                    <div class='added' th:id="'add' + ${recipe.ID}">
                                        <svg id='successAnimation' xmlns='http://www.w3.org/2000/svg' width='70'
                                             height='70'
                                             viewBox='0 0 70 70'>
                                            <path id='successAnimationResult' fill='#D8D8D8'
                                                  d='M35,60 C21.1928813,60 10,48.8071187 10,35 C10,21.1928813 21.1928813,10 35,10 C48.8071187,10 60,21.1928813 60,35 C60,48.8071187 48.8071187,60 35,60 Z M23.6332378,33.2260427 L22.3667622,34.7739573 L34.1433655,44.40936 L47.776114,27.6305926 L46.223886,26.3694074 L33.8566345,41.59064 L23.6332378,33.2260427 Z'/>
                                            <circle id='successAnimationCircle' cx='35' cy='35' r='24' stroke='#979797'
                                                    stroke-width='2' stroke-linecap='round' fill='transparent'/>
                                            <polyline id='successAnimationCheck' stroke='#979797' stroke-width='2'
                                                      points='23 34 34 43 47 27' fill='transparent'/>
                                        </svg>
                                        <br>
                                        <p style='text-align:center; top: 60%;position: absolute;'>Adăugat!</p>
                                    </div>
                                    <div class='header'>
                                        <img th:src='${recipe.pics[0]}'
                                             style='height:100%;width:100%;border-radius:20px;object-fit: cover;'/>
                                    </div>
                                    <div class='text'>
                                        <div style='position:relative;padding-bottom:40px;'>
                                            <h1 class='food' th:text="${recipe.name}"></h1>
                                            <div style='left:50%;position:relative;transform:translateX(-50%);width:fit-content;'>
                                                <i class='fa' th:if="${recipe.durata} != ''">
                                                    <img src='/img/icons/clock.png' style='width:32px;height:32px;'
                                                         alt=''/>
                                                    <span th:text="${recipe.durata}"></span>
                                                </i>
                                                <i class='fa'>
                                                    <img th:src="'/img/icons/' + ${recipe.categorie} + '-white.png'"
                                                         style='width:32px;height:32px;' alt=""/>
                                                    <span class='type'></span>
                                                </i>
                                            </div>
                                            <div class="descriere_recipe" style='padding:10px 30px;font-size:15px;'
                                                 th:text="${recipe.descriere}"></div>
                                        </div>
                                        <div class='addBTN'>Adaugă</div>
                                    </div>
                                </div>
                                <!--<div class='ratings fs-vlarge' style='margin:auto;width:120px;padding:10px 0px;'>{$stars}</div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/vendor/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>
<script type="text/javascript" src="/js/jquery.sticky.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/vendor/bootstrap.min.js"></script>
<script sec:authorize="isAnonymous()" type="text/javascript" src="/js/na/shop_p3_na.js"></script>
<script sec:authorize="isAuthenticated()" type="text/javascript" src="/js/shop_p3.js"></script>
</body>
</html>