<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Mini Shop</title>
</head>
<body>
    <div style="width:100%; height:100%; display: grid; grid-gap: 20px; grid-template-columns: repeat(4, 1fr);">
        <div th:id="${recipe.ID}" style="background: red;" class="card" th:each="recipe : ${recipes}">
            <h2 th:text="${recipe.ID}"></h2>
            <p th:text="${recipe.type}"></p>
        </div>
    </div>
</body>
<style>
    .card:hover{
        transform: translate(0, 0.2rem);
    }
</style>
<script src="/js/vendor/jquery-2.2.4.min.js"></script>
<script>
    $(document).ready(function(){
        $(".card").on('click', function(){
            $.post("/dev/buy/" + this.id,{
                success: function (data) {
                    console.log(data);
                }
            });
        });
    });
</script>
</html>